<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>User Directory</title>
</head>

<body>

	<div class="container">


		<h3>User Directory</h3>
		<hr>

		<div>

			<p>
				User: <span sec:authentication="name"></span>
				<br>
				Roles:<span sec:authentication="principal.authorities"></span>

			</p>
			
		</div>
		
		

		<!-- Add a button -->
		<a sec:authorize="isAuthenticated()" th:href="@{/user/showFormForAdd}" class="btn btn-primary btn-sm mr-5 mb-3">
			Add user </a>
		<br>

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>id</th>
					<th>Full Name</th>
					<th>UserName</th>
					<th>phone</th>
					<th>Email</th>
					<th>Department</th>
					<th sec:authorize="isAuthenticated()">Action</th>


				</tr>
			</thead>

			<tbody>
				<tr th:each="tempUser : ${user}">

					<td th:text="${tempUser.id}" />
					<td th:text="${tempUser.name}" />
					<td th:text="${tempUser.userName}"/>
					<td th:text="${tempUser.phone}" />
					<td th:text="${tempUser.email}" />
					<td th:text="${tempUser.departmentId}" />
					
					<td sec:authorize="isAuthenticated()">
						<!-- Add "update" /link -->
						<a th:href="@{/user/showFormForUpdate(userId=${tempUser.id})}" class="btn btn-info btn-sm">
							Update</a>
						<!-- Add "delete"/link -->
						<a th:href="@{/user/delete(userId=${tempUser.id})}" class="btn btn-danger btn-sm"
							onclick="if (!(confirm('Are you sure you want to delete user?'))) return false"> Delete</a>

					</td>

				</tr>
						 
			</tbody>
		</table>


		<div th:if="${totalPages > 1}">
			<div class="row col-sm-10">
				<div class="col-sm-2">
					Total Rows: [[${totalItems}]]
				</div>
				<div class="col-sm-2">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/user/page/' + ${i}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
					</span>
				</div>
				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/user/page/' + ${currentPage + 1}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>

				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/user/page/' + ${totalPages}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
				</div>





			</div>
		</div>

		<br>

		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<a th:href="@{/department/list}"> Back to Department list</a>
		</div>

		<!-- add logout button -->
		<form action="#" th:action="@{/logout}" method="POST">

			<input sec:authorize="isAuthenticated()" type="submit" value="Logout"
				class="btn btn-outline-primary mt-2" />

			<input sec:authorize="!isAuthenticated()" type="submit" value="Login"
				class="btn btn-outline-primary mt-2" />


		</form>


	</div>

</body>

</html>