<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<title>Insert title here</title>
</head>

<body>
	<div class="container">

		<hr>


		<p class="h4 mb-4"> Add User </p>

		<form action="#" th:action="@{/user/save}" th:object=${user} method="POST">

			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}">
			
			<!-- full name -->
			<input type="text" th:field="*{name}" class="form-control mb-4 col-4" placeholder="name">
			<div class="alert alert-warning mb-4 col-4" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error
			</div>
			<div th:if="${error}" class="alert alert-warning mb-4 col-4">
				<p th:text="${error}"></p>
			</div>
			
			<!-- phone -->
			<input type="text" th:field="*{phone}" class="form-control mb-4 col-4" placeholder="phone">
			<div class="alert alert-warning mb-4 col-4" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">error
			</div>
			
			<!-- email -->
			<input type="text" th:field="*{email}" class="form-control mb-4 col-4" placeholder="email">
			<!-- validate email -->
			<div class="alert alert-warning mb-4 col-4" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
			</div>
			
			<!-- user name -->
			<input type="text" th:field="*{userName}" class="form-control mb-4 col-4" placeholder="user">
			<div class="alert alert-warning mb-4 col-4" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">error
			</div>
			<div th:if="${exists}" class="alert alert-warning mb-4 col-4">
				<p th:text="${exists}"></p>
			</div>
			
			
			<!-- password -->
			<input type="password" th:field="*{password}" class="form-control mb-4 col-4" placeholder="password (*)">
			<div class="alert alert-warning mb-4 col-4" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
			
			
			<!-- department -->
			<label> Choose a department</label>
			<select th:field=*{departmentId} class="form-control mb-4 col-4">
				<th:block th:each="temp: ${department}">

					<option th:value="${temp.id}" th:text="${temp.name}"></option>
			</select>
			<!-- role -->
			<div sec:authorize = "hasRole('ROLE_ADMIN')">
			<label> Set Roles</label>
			<select th:field=*{roles} class="form-control mb-4 col-4">
				<th:block th:each="temp: ${role}">

					<option th:value="${temp.id}" th:text="${temp.name}"></option>
			</select>
			</div>


			<button type="submit" class="btn btn-info col-2">Save</button>
		</form>


		<hr>

		<a th:href="@{/user/list}"> Back to User list</a>

	</div>
</body>

</html>